:root {
  --title-color: white;
  --font-color: white;
  --font-second-color: #c3beb6;
  --font-third-color: #a49c90;
  --first-color: #181a1b;
  --second-color: #2d2d2d;
  --button-width: 100px;
  --button-margin: 5px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--font-color);
}
a {
  color: var(--font-color);
}
input {
  font-size: 15px;
}

html {
  background-color: var(--first-color);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--second-color);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--first-color);
}

.overlap {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
.overlap:hover {
  opacity: 0;
}
